body {
    font-family: Arial, sans-serif;
    background-color: rgb(252, 163, 222);
}
.header {
    width: 400px;
    height:90px;
    background-color: lightblue;
    padding: 20px;
    border-radius: 50px;
}
.about {
    background-color: lightgreen;
    padding: 20px;
    margin-left:  300px;
    margin-top: 20px;
    width: 600px;
    text-align: center;
    border-radius: 40px;
}
.about h2 {
    margin-bottom: 10px;
}

.about p {
    margin-top: 20px;
}
.profile-pic {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.projects {
    width: 600px;
    height: 150px;
    background-color: white;
    padding: 20px;
    margin-left: 600px;
    margin-top: 20px;
    background-color: lightyellow;
    text-align: center;
    border-radius: 50px;

}
.projects h2 {
    margin-bottom: 10px;
}
.projects p {
    margin: 10px 0;
}
.contact {
    width: 400px;
    height: 200px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 1100px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(249, 176, 57);
    border-radius: 50px;
}
.contact h2 {
    margin-bottom: 10px;
}
.contact p {
    margin: 5px;
}
